*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.profile{
    width:190px;
    image-resolution: from-image 300dpi;
    float: right;
    margin-right: 40%;
    border: 5px solid ;
    margin-top: 10%;
    border-radius: 30px;
}
h3{
    margin-top: 15%;
    margin-left:20%; 
}
h5{
    margin-left: 20%;
}

#first{
    text-align: left;
    width: 300px;
    margin-left: 20%;
}
.Hi{
    text-align: left;
    margin-left: 2%;
}

.pic{
height: 400px;
}
.right{
    float: right;
    margin-left: 60%;
}
.left{
    float: left;
}